---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="banner">page undergoing<br />maintenance</div>
</Layout>

<style>
  .banner {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
</style>
